<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align:left;
        }
    </style>
</head>
<body>
    <h1>{{ item.name }} (${{ item.price }})</h1>
    <h2>from {{ item.restaurant }}</h2>
    <table>
    {% for key,value in item.nutrition.iteritems() %}
        <tr>
            <th>{{ key }}</th>
            <th>{{ value }}</th>
        </tr>
    {% endfor %}
        <tr>
            <th>Allergens</th>
            <th>{{ ', '.join(item.allergens) }}</th>
        </tr>
    </table>
</body>